<section>
    <h2>Entre como participante</h2>
    <form action="/enter-room" method="POST">
        <input name="roomId" id="room-id" type="number" placeholder="Código da sala">
        <label class="sr-only" for="room-id">Código da Sala</label>

        <button>
            <img src="img/enter-room.svg" alt="ícone de entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a role="button" class="button outlined" href="/create-pass">
        <img src="img/users.svg" alt="ícone de usuários">
        Criar Sala
    </a>
</section>