<div class="no-questions">
    <img src="/img/no-question.svg" alt="Caixa de diálogo indicando que não há perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas!</p>
</div>

